{{ 'section-bd-hero.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} .bd-hero--container {
    margin-top: {{ section.settings.mobile_padding_top }}px;
    margin-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .bd-hero--container {
      margin-top: {{ section.settings.padding_top }}px;
      margin-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>

{% liquid
  assign image = section.settings.image
  assign mobile_image = image
  if section.settings.mobile_image
    assign mobile_image = section.settings.mobile_image
  endif

  assign heading = section.settings.heading
  assign heading_max_width = section.settings.heading_max_width
  assign mobile_heading_max_width = section.settings.mobile_heading_max_width
  assign description = section.settings.description
  assign description_max_width = section.settings.des_max_width
  assign mobile_description_max_width = section.settings.mobile_des_max_width
%}

<div class="bd-hero--container {{ section.settings.section_class }}">
  <div class="image-wrapper">
    {% if image %}
      <img
        class="mobile-hide image"
        src="{{ image | image_url }}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        alt="{{ image.alt }}"
        loading="lazy"
      >
    {% endif %}
    {% if mobile_image %}
      <img
        class="desktop-hide image"
        src="{{ mobile_image | image_url }}"
        width="{{ mobile_image.width }}"
        height="{{ mobile_image.height }}"
        alt="{{ mobile_image.alt }}"
        loading="lazy"
      >
    {% endif %}
  </div>
  <div class="text-wrapper">
    {% if heading and heading != '' %}
      <h2
        class="heading"
        style="
          {% if heading_max_width > 0 %}--max-width: {{ heading_max_width }}px;{% endif %}
          {% if mobile_heading_max_width > 0 %}--mobile-max-width: {{ mobile_heading_max_width }}px;{% endif %}
        "
      >{{ heading }}</h2>
    {% endif %}
    {% if description and description != '' %}
      <div
        class="description"
        style="
          {% if description_max_width > 0 %}--max-width: {{ description_max_width }}px;{% endif %}
          {% if mobile_description_max_width > 0 %}--mobile-max-width: {{ mobile_description_max_width }}px;{% endif %}
        "
      >{{ description }}</div>
    {% endif %}
    {% if section.settings.button_text and section.settings.button_text != '' %}
      <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_text }}</a>
    {% endif %}
  </div>
</div>

{%- schema %}
{
  "name": "BD hero",
  "class": "shopify-section--bd-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Section heading<\/p>"
    },
    {
      "type": "number",
      "id": "heading_max_width",
      "label": "Heading width",
      "info": "Set 0 to ignore. The unit is px."
    },
    {
      "type": "number",
      "id": "mobile_heading_max_width",
      "label": "Heading width (Mobile)",
      "info": "Set 0 to ignore. The unit is px."
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descriptioin",
      "default": "<p>Section description<\/p>"
    },
    {
      "type": "number",
      "id": "des_max_width",
      "label": "Desc max width",
      "info": "Set 0 to ignore. The unit is px."
    },
    {
      "type": "number",
      "id": "mobile_des_max_width",
      "label": "Desc width (Mobile)",
      "info": "Set 0 to ignore. The unit is px."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding top (Mobile)",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding bottom (Mobile)",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Section class"
    }
  ],
  "presets": [
    {
      "name": "BD hero"
    }
  ]
}
{%- endschema -%}